<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CarSharing" providerName="" connectionString="Server=IONUWORKSPACE\SQLEXPRESS;Initial Catalog=CarSharing;Integrated Security=true;"/>
	</connectionStrings>
    <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


	<appSettings>
		<add key ="SelectStatement" value ="Select * from Useri"/>
		<add key="ParentTableName" value="Useri"/>
		<add key="ChildTableName" value="Contacte"/>
		<add key="pk_parent" value="id_user=@ID_Entity"/>
		<add key="pk_child" value="id=@ID_Entity"/>
		<add key="textbox_count" value="4"/>
		<add key ="label1" value="Id contact"/>
		<add key ="label2" value="Telefon"/>
		<add key ="label3" value="Email"/>
		<add key ="label4" value="Id user"/>
		<add key="InsertedParametersNames" value ="@id,@telefon,@email,@id_user"/>
		<add key="ChildColumnNames" value ="id,telefon,email,id_user"/>
		<add key="UpdateColumns" value="telefon = @telefon, email = @email WHERE id = @ID_Entity;"/>
	</appSettings>


	<!--
	<appSettings>
		<add key ="SelectStatement" value ="Select * from Soferi"/>
		<add key="ParentTableName" value="Soferi"/>
		<add key="ChildTableName" value="Masini"/>
		<add key="pk_parent" value="id_sofer=@ID_Entity"/>
		<add key="pk_child" value="id_masina=@ID_Entity"/>
		<add key="textbox_count" value="4"/>
		<add key ="label1" value="Marca"/>
		<add key ="label2" value="Model"/>
		<add key ="label3" value="Numar inmatriculare"/>
		<add key ="label4" value="Id sofer"/>
		<add key="InsertedParametersNames" value ="@marca,@model,@numar_inmatriculare,@id_sofer"/>
		<add key="ChildColumnNames" value ="marca,model,numar_inmatriculare,id_sofer"/>
		<add key="UpdateColumns" value="marca = @marca, model = @model, numar_inmatriculare = @numar_inmatriculare WHERE id_masina = @ID_Entity;"/>
	</appSettings>
	-->


</configuration>