.main-container {
    height: 80vh;
    width: 45%;
    border: solid black 2px;
    padding: 40px;
}

.layout-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.item {
    width: 90%;
    height: 40vh;
    background-color: #7FFFD4;
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.image-content{
    height: 30vh;
    width: 60%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mihai_viteazul {
    background-image: url("./images/mihai_viteazul.jpg");
}
#vlad_tepes {
    background-image: url("./images/vladtepes.jpg");
}
#stefan_cel_mare {
    background-image: url("./images/stefancelmare.jpg");
}
#mircea_cel_batran {
    background-image: url("./images/mirceacelbatran.jpg");
}