.carousel {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

.carousel .item, 
.carousel .hidden {
    display: none;
}

.carousel .active {
    display: block;
    animation: fadeVisibility 0.5s;
}

.img {
    width: 475px;
    height: 250px;
    margin-left: 63px;
}

.carousel .actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .actions button {
    border-radius: 10px;
    background-color: black;
    color: green;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    width: 40px;    
}

button#next {
    margin-right: 20px;
}

button#prev {
    margin-left: 20px;
}

.dots {
    text-align: center;
}

.dot {
    opacity: 0.7;
}

.dot:focus {
    border: 1px solid black;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}