*{
    margin: 0;
    padding: 0;
}

header{
    background-color: red;
    width: 100wh;
    height: 20vh;
    position: relative;
}

header h2{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.menu{
    display: flex;
    flex-direction: column;
    width: 100wh;
    height: 65vh;
    background-color: yellow;
}

.items{
    display: flex;
    width: 100wh;
    height: 5vh;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10;
    margin-left: 5px;
    width: 18%;
    height: 100%;
}

.menu-item-bar{
    width: 0.7%;
    height: inherit;
    background-color: red;
}

article{
    background-color: green;
    width: 100wh;
    height: 60vh;
    position: relative;
}

article h2{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

footer{
    background-color: pink;
    width: 100wh;
    height: 15vh;
    position: relative;
}

footer h2{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}